.background {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  min-width: 110%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  z-index: -99;
}

.landing-title h1::before,
.landing-title h1::after {
  display: block;
  content: '"Leap of Faith"';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.8;
}

.landing-title h1::before {
  color: #f0f;
  z-index: -1;
}

.landing-title h1::after {
  color: #0ff;
  z-index: -1;
}

.landing-title h1:hover::before {
  animation: glitch 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
}

.landing-title h1:hover::after {
  animation: glitch 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both
    infinite;
}

@keyframes glitch {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-10px, 10px);
  }
  40% {
    transform: translate(-10px, -10px);
  }
  60% {
    transform: translate(10px, 10px);
  }
  80% {
    transform: translate(10px, -10px);
  }
  to {
    transform: translate(0);
  }
}
