.brand {
  margin-top: 40px;
}

.landing-title {
  font-family: "Anton", sans-serif;
  position: absolute;
  left: 50%;
  top: 60%;
}

.landing-title h1,
.landing-title p {
  position: relative;
}

.landing-title p {
  margin: 0;
  font-size: 22px;
}
