.brand-landing {
  margin-top: 0px !important;
  padding-top: 40px;
}

.navbar {
  padding: 40px 0;
}

.navbar ul {
  margin: 0;
}

.navbar ul li {
  display: inline-block;
  margin: 0 60px;
  position: relative;
}

.navbar ul li:after {
  content: "";
  display: block;
  height: 3px;
  background-color: var(--primary-color);

  border-radius: 6px;
  position: absolute;
  width: 100%;
  left: 0;
  transform: scale(0, 1);
  transition: transform ease-in-out 200ms;
  transform-origin: center;
}

.navbar ul li:hover::after {
  transform: scale(1, 1);
}

.navbar ul li a {
  text-decoration: none;
}

li.active::after {
  transform: scale(1, 1) !important;
}

.nav-logo {
  margin: 0 10px;
}

@media (max-width: 900px) {
  .navbar ul li {
    margin: 0 20px;
  }
}
@media (max-width: 600px) {
  .navbar ul li {
    margin: 0 8px;
  }
}
