.history {
  width: 95%;
}

.history-container {
  border-radius: 6px;
  height: 80vh;
}

.history-search,
.history-analytic {
  color: white;
  background: #454545;
}

.history-main {
  background: #bcdaf2;
}

.env-select .select-wrapper .select-dropdown {
  color: white;
}
