.history {
  width: 95%;
}
.history-sections {
  height: 80vh;
}
.history-container {
  border-radius: 6px;
  height: 100%;
  position: relative;
  box-shadow: 5px 3px 6px rgba(0, 0, 0, 0.3);
}

.history-search,
.history-analytic {
  color: white;
  background: #454545;
  padding: 0 5px;
}

.history-main {
  display: table;
  background: #bcdaf2;
  width: 100%;
  padding: 15px 9px;
}

.input-field.env-select {
  margin: 0;
}

.env-select .select-wrapper .select-dropdown {
  color: white;
  border-bottom: 2px solid;
  font-size: 12px;
}

.env-select .select-wrapper .dropdown-trigger {
  height: 30px;
}

.env-select .select-wrapper .select-dropdown:focus {
  border-bottom: 2px solid var(--secondary-color);
}

.env-select .select-wrapper .caret {
  fill: white;
  zoom: 1.5;
}
.search-bar {
  margin-bottom: 0 !important;
}
.search-bar .input-field input[type="text"] {
  height: 20px;
  color: white;
  font-size: 20px;
}

.search-bar .input-field input[type="text"]:focus {
  border-bottom: 2px solid var(--secondary-color) !important;
}

.search-icon {
  position: relative;
  top: 10px;
}

.result-collection {
  margin-top: 0;
}
.search-result {
  height: 80%;
  overflow-y: scroll;
}
.result-item {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
  border-radius: 8px;
  overflow: auto;
  background: white;
  color: black;
  padding: 5px 10px;
}

.result-item .upper {
  padding-bottom: 2px;
  border-bottom: 2px solid black;
}

.result-item.field .upper {
  border-bottom: 10px solid var(--secondary-color);
  padding-bottom: 0;
}

.result-item .lower {
  font-weight: normal;
}

.result-item:hover,
.result-item.focus {
  background: #bcdaf2;
}

.search-pagination {
  margin: 0;
  padding: auto;
}
.history-main .history-list {
  height: 100%;
  overflow-y: scroll;
  padding: 0 9px;
}

.history-main .header {
  display: table-row;
  margin: 0;
  padding: 0 8px;
  height: 30px;
  font-weight: bold;
}

.history-main .footer {
  display: table-row;
  height: 30px;
}

.history-main .footer .left-align,
.history-main .footer .right-align {
  padding-top: 8px;
}

.collapsible {
  border: none !important;
  box-shadow: none !important;
  border-radius: 8px;
}
.collapsible li {
  border: none !important;
}
.collapsible-header {
  position: relative;
  border-radius: 8px;
  display: block !important;
  box-shadow: none;
  display: block;
  margin-bottom: 10px;
  padding: 0 !important;
  z-index: 1;
}
.collapsible-header .result-item {
  margin-bottom: 0;
}
.collapsible-header .result-item .upper {
  border-bottom: 1px solid #a2d6d8;
  padding-bottom: 3px;
}

.collapsible-header .result-item .lower {
  font-weight: bold;
  padding-top: 2px;
}
.collapsible-body {
  z-index: 0;
  position: relative;
  top: -20px;
  border-radius: 8px;
  background: white;
  border: 1px solid #46adb2;
  box-shadow: none;
}

.collapsible-header.focus {
  border: 1px solid #46adb2;
}

.history-analytic {
  padding: 15px 18px;
}

.history-analytic .collection {
  border: none;
  border-radius: 8px;
}

.history-analytic .analytic-data {
  background: white;
  border-radius: 8px;
  color: black;
  margin-top: 15px;
  padding: 9px;
}

.history-analytic .collection .collection-item {
  border-bottom: 1px solid #a2d6d8 !important;
  padding: 4px 2px 0 2px;
  font-weight: bold;
}

.history-analytic .analytic-title {
  font-weight: bold;
  font-size: 25px;
}

.history-analytic .step-number {
  font-weight: bold;
  font-size: 60px;

  color: #fd7f80;
}
