:root {
  --primary-color: #fb0102;
  --secondary-color: #00ffed;
}

svg.brand-img {
  height: 40px;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}
/* Track */
::-webkit-scrollbar-track {
  background: white;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #366088;
}

.icon-group .icon {
  margin: 0 0 0 10px;
}

#toast-container {
  top: auto !important;
  right: auto !important;
  bottom: 10%;
  left: 7%;
}

#toast-container .toast {
  background: #fb0102;
  color: white;
}
/* .toast-message {
  width: 100%;
  margin: 0;
  padding: 0;
  background: #fb0102;
  color: white;
} */
